workflows/api-convert-names-emails-csv-response.json
{"id":"2DEXfAJcznLM2f5j","name":"API - Convert Names Emails - CSV Response","active":false,"isArchived":false,"versionId":"07c231e1-eea5-4ce5-b784-8d94e70a1de0","nodes":[{"id":"1bc0c15c-1ae0-4038-bf7a-728c9f4f8780","name":"Receive Names and Emails","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"names-to-csv","responseMode":"responseNode"},"webhookId":"80f7f80e-9279-40c2-8be5-95b48c2e430b"},{"id":"cba0d84e-56b5-471a-9a5a-ee3b9cd56067","name":"Build CSV String","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"\nconst body = $input.first().json.body;\nconst people = Array.isArray(body) ? body : (body.people || body.data || body.contacts || []);\n\nif (!Array.isArray(people) || people.length === 0) {\n  return [{ json: { csv: '', error: 'No valid array of contacts found in payload' } }];\n}\n\nconst header = 'name,email';\nconst rows = people.map(p => {\n  const name = (p.name || '').replace(/\"/g, '\"\"');\n  const email = (p.email || '').replace(/\"/g, '\"\"');\n  return '\"' + name + '\",\"' + email + '\"';\n});\n\nconst csv = [header, ...rows].join('\\n');\nreturn [{ json: { csv } }];\n      "}},{"id":"d139dca4-c90d-45bf-8f96-b67b4258ddbc","name":"Return CSV Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[448,0],"parameters":{"respondWith":"text","responseBody":"={{ $json.csv }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/csv"}]}}}}],"connections":{"Receive Names and Emails":{"main":[[{"node":"Build CSV String","type":"main","index":0}]]},"Build CSV String":{"main":[[{"node":"Return CSV Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"description":"Accepts a POST webhook with a JSON array of names and emails, formats them into a CSV string, and returns it directly in the response."}