workflows/content-hackernews-digest-slack.json
{"id":"rnbJkpvSC6pCINB7","name":"Content - HN Digest - Slack","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"2376a563-4329-4a7e-9b96-6b55dd1a3583","name":"Daily 8am Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0]},{"parameters":{"url":"https://hacker-news.firebaseio.com/v0/topstories.json","options":{}},"id":"4c07ba1c-4e04-4777-8e19-adce6d244171","name":"Fetch Top HN Story IDs","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0]},{"parameters":{"jsCode":"\nconst ids = $input.first().json;\nconst top5 = Array.isArray(ids) ? ids.slice(0, 5) : [];\nreturn top5.map(id => ({ json: { id, url: `https://hacker-news.firebaseio.com/v0/item/${id}.json` } }));\n"},"id":"18f194a0-68ca-4e9e-8ad5-832ee9215219","name":"Extract Top 5 IDs","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"e0b39b5a-3226-4632-9afa-03685883d25a","name":"Fetch Story Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,0]},{"parameters":{"jsCode":"\nconst stories = $input.all();\nconst lines = stories.map((item, i) => {\n  const s = item.json;\n  const title = s.title || 'No title';\n  const url = s.url || `https://news.ycombinator.com/item?id=${s.id}`;\n  const score = s.score || 0;\n  const by = s.by || 'unknown';\n  return `*${i + 1}. <${url}|${title}>*\\n⬆️ ${score} points by ${by}`;\n});\nconst date = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst message = `📰 *Hacker News Top 5 — ${date}*\\n\\n` + lines.join('\\n\\n');\nreturn [{ json: { message } }];\n"},"id":"d0a165b1-e177-405f-bf9e-d5772521e390","name":"Format Slack Digest","type":"n8n-nodes-base.code","typeVersion":2,"position":[896,0]},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"mode":"name","value":"general"},"text":"={{ $json.message }}","otherOptions":{"includeLinkToWorkflow":false,"mrkdwn":true}},"id":"8bed70c2-d36a-4014-a412-da15438f086f","name":"Post to Slack","type":"n8n-nodes-base.slack","typeVersion":2.5,"position":[1120,0]},{"parameters":{"formTitle":"Run HN Digest Manually","formDescription":"Click Submit to trigger the Hacker News digest and send it to Slack.","formFields":{"values":[]},"responseMode":"lastNode","options":{"appendAttribution":false,"buttonLabel":"Send Digest"}},"id":"3ca67f5a-6dc4-416f-88bf-1076411c39db","name":"Manual Run Form","type":"n8n-nodes-base.formTrigger","typeVersion":2.6,"position":[0,208]},{"parameters":{"operation":"completion","completionTitle":"✅ Digest sent!","completionMessage":"The Hacker News digest has been posted to Slack. Thanks for running it!","options":{}},"id":"d8d181e6-daa4-4887-9df6-dd8e707661ed","name":"Thank You","type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1344,208]},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"id":"4dc2e345-c1a3-4fe9-8ada-979e07157188","name":"AI Summarise Stories","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[896,208]},{"parameters":{"jsCode":"const stories = $input.all();\nconst lines = stories.map((item, i) => {\n  const s = item.json;\n  const title = s.title || 'No title';\n  const url = s.url || `https://news.ycombinator.com/item?id=${s.id}`;\n  const score = s.score || 0;\n  const by = s.by || 'unknown';\n  return `${i + 1}. ${title} (${url}) — ⬆️ ${score} points by ${by}`;\n});\nconst date = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nreturn [{ json: { storyList: lines.join('\\n'), date } }];"},"id":"597e267a-3b39-490a-9dd0-54d86f0b4b4c","name":"Generate Email Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,208]},{"parameters":{"promptType":"define","text":"={{ 'Summarise today\\'s top Hacker News stories (date: ' + $json.date + ').\\n\\nStories:\\n' + $json.storyList }}","options":{}},"id":"a697aa61-0786-4158-9bd9-381de8b03474","name":"OpenAI Summarise","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1328,416]},{"parameters":{"sendTo":"vishalm.mishra@fulcrumapp.com","subject":"={{ '🗞️ Your HN Digest Summary — ' + $now.toFormat('MMMM d, yyyy') }}","message":"={{ '<h2>Hacker News Daily Summary</h2><p>' + $json.output + '</p><hr><p style=\"color:#888;font-size:12px;\">Generated automatically by your HN Digest automation.</p>' }}","options":{"appendAttribution":false}},"id":"82f8369f-974a-4dc3-9e27-aea1bec2e38f","name":"Email Summary to Vishal","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1776,416]},{"id":"daeadfa2-6e17-4e9a-943f-7fe30f010138","name":"Format Story Count Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0],"parameters":{"jsCode":"const stories = $input.all();\nconst count = stories.length;\nconst date = new Date().toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst sorted = [...stories].sort((a, b) => (b.json.score || 0) - (a.json.score || 0));\nconst rows = sorted.map((item, i) => {\n  const s = item.json;\n  const title = s.title || 'No title';\n  const url = s.url || `https://news.ycombinator.com/item?id=${s.id}`;\n  const score = s.score || 0;\n  const by = s.by || 'unknown';\n  return `<tr><td style=\"padding:8px 12px;font-weight:bold;color:#ff6600;\">${i + 1}</td><td style=\"padding:8px 12px;\"><a href=\"${url}\" style=\"color:#1a0dab;text-decoration:none;\">${title}</a></td><td style=\"padding:8px 12px;text-align:center;\">⬆️ ${score}</td><td style=\"padding:8px 12px;color:#555;\">${by}</td></tr>`;\n}).join('');\nconst html = `<div style=\"font-family:Arial,sans-serif;max-width:680px;margin:0 auto;\"><h2 style=\"color:#ff6600;border-bottom:2px solid #ff6600;padding-bottom:8px;\">📰 Hacker News Digest — ${date}</h2><p style=\"color:#333;font-size:15px;\"><strong>${count} stories</strong> fetched and ranked by score (highest first):</p><table style=\"width:100%;border-collapse:collapse;background:#f9f9f9;\"><thead><tr style=\"background:#ff6600;color:#fff;\"><th style=\"padding:8px 12px;text-align:left;\">#</th><th style=\"padding:8px 12px;text-align:left;\">Title</th><th style=\"padding:8px 12px;text-align:center;\">Score</th><th style=\"padding:8px 12px;text-align:left;\">Author</th></tr></thead><tbody>${rows}</tbody></table><p style=\"color:#888;font-size:12px;margin-top:16px;\">Generated automatically by your HN Digest automation on ${date}.</p></div>`;\nreturn [{ json: { html, count, date } }];"}},{"id":"b6007e14-fbd1-4abb-901d-59fb2ca69f0c","name":"Email Story Count & Titles","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1568,0],"parameters":{"resource":"message","operation":"send","authentication":"oAuth2","sendTo":"vishalm.mishra@fulcrumapp.com","subject":"={{ '📊 HN Digest: ' + $json.count + ' stories fetched — ' + $json.date }}","emailType":"html","message":"={{ $json.html }}","options":{"appendAttribution":false}}},{"id":"998072ef-75e0-48b0-9457-5f8f2ebb7e2a","name":"Thank You — Story Email Sent","type":"n8n-nodes-base.form","typeVersion":2.5,"position":[1792,0],"parameters":{"operation":"completion","respondWith":"text","completionTitle":"✅ All done!","completionMessage":"The Hacker News digest has been posted to Slack and a story count summary has been emailed to you. Thanks for running it!"}}],"connections":{"Daily 8am Trigger":{"main":[[{"node":"Fetch Top HN Story IDs","type":"main","index":0}]]},"Fetch Top HN Story IDs":{"main":[[{"node":"Extract Top 5 IDs","type":"main","index":0}]]},"Extract Top 5 IDs":{"main":[[{"node":"Fetch Story Details","type":"main","index":0}]]},"Fetch Story Details":{"main":[[{"node":"Format Slack Digest","type":"main","index":0}]]},"Format Slack Digest":{"main":[[{"node":"Post to Slack","type":"main","index":0}],[{"node":"Generate Email Summary","type":"main","index":0}]]},"Manual Run Form":{"main":[[{"node":"Fetch Top HN Story IDs","type":"main","index":0}]]},"Post to Slack":{"main":[[{"node":"Thank You","type":"main","index":0}],[{"node":"Format Story Count Email","type":"main","index":0}]]},"Generate Email Summary":{"main":[[{"node":"OpenAI Summarise","type":"main","index":0}]]},"OpenAI Summarise":{"main":[[{"node":"Email Summary to Vishal","type":"main","index":0}]]},"AI Summarise Stories":{"ai_languageModel":[[{"node":"OpenAI Summarise","type":"ai_languageModel","index":0}]]},"Format Story Count Email":{"main":[[{"node":"Email Story Count & Titles","type":"main","index":0}]]},"Email Story Count & Titles":{"main":[[{"node":"Thank You — Story Email Sent","type":"main","index":0}]]}},"description":"Runs daily at 8am, fetches top 5 HN stories, posts a digest to Slack, emails a ranked story count summary, and sends an AI-generated editorial summary to vishalm.mishra@fulcrumapp.com."}